@import url('https://fonts.googleapis.com/css?family=Calligraffitti');
@font-face { font-family: 'alex_brushregular'; src: url('fonts/alexbrush-regular-webfont.woff2') format('woff2'), url('fonts/alexbrush-regular-webfont.woff') format('woff'); url('fonts/AlexBrush-Regular.ttf') format('truetype'); font-weight:normal; font-style: normal; };	
.body{
	
	height:auto;
	width:auto;
	margin:0 auto;
}
.left{
	height:100vh;
	background-image:url("images/anish.png");
	background-size:cover;
	background-position:center;
}
.right{
	position:relative;
	background-image:url("wall-bg.jpg");
	background-size:contain;
	 background-position:bottom;
	background-repeat:no-repeat;
	height:100vh;
}
.text{
	color:white;
	font-family:'railway',Regular;
	position:absolute;
	top:15%;
	left:22%;
	right:22%;
	text-align:justify;
}

	
.signature{
	color:blue;
	font-family:alex_brushregular;
	right:15%;
	text-align:right;
}
.btn {
	border:1px solid #54a0e7;
	padding:10px;
	margin-top:7%;
	height:auto;
	width:auto;
	background-color:#54a0e7;
	bottom :35%;
	right:5% ;
}
.btn a{
	color:white;
	text-decoration:none;
	}
	
.btn:hover{
	background-color:#14458b;
	
}

@media(max-width:768px)
{	.left .right{
		height:auto;
	}
	.right{
		background-size:100%;
	}
	.text{
		text-align:justify;
		
	}
		h4{
			font-size:10px !important;
		}
		/*h3{
			font-size:18px !important;
		}*/
		.btn{
			height:auto;
			padding:5px;
			width:auto;
		}
		.btn a{
			font-size:8px !important;
		}
	
}
@media(max-width:992px){
		
		.left{
		background-position:top;
	}
	.left, .right{
		height:80vh;
	}
	
		h4{
			font-size:11px !important;
		}
		/*h3{
			font-size:18px !important;
		}*/
}
@media(max-width:400px){

		h4{
			font-size:10px !important;
		}
		.btn{
			padding:3px;
			width:auto;
		}
		.text{
		top:3%;
	}
		
}
