@import url('https://fonts.googleapis.com/css?family=Calligraffitti');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
@font-face { font-family: 'alex_brushregular'; src: url('fonts/alexbrush-regular-webfont.woff2') format('woff2'), url('fonts/alexbrush-regular-webfont.woff') format('woff'); url('fonts/AlexBrush-Regular.ttf') format('truetype'); font-weight:normal; font-style: normal; };

.body{

	height:auto;
	width:auto;
	margin:0 auto;

}
#transparent{
	color:white;
	position: absolute;
	top:35%;
	left:40%;
	text-align: center;
	height:150px;
	width:300px;
	background-color: rgba(0,0,0,0.3);
}
#intro.btn{
	padding:15px !important;
}
.left{
	position: relative;
	height:100vh;
	background-image:url("images/anish2.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: top;
}
.right{
	position:relative;
	background-image:url("wall-bg.jpg");
	background-size:contain;
	background-position:bottom;
	background-repeat:no-repeat;
	height:100vh;

}

.text{
	/* color:#6087FF; */
	font-family: 'Archivo Narrow', sans-serif;
	position:absolute;
	top:15%;
	left:22%;
	right:22%;
	text-align:justify;
}


.signature{
	/* color:blue; */
	font-family:alex_brushregular;
	right:15%;
	text-align:right;
}
.signature h1{
	font-size: 42px;

}
.btn {
	color:white;
	padding:10px;
	margin-top:7%;
	height:auto;
	width:auto;
	background-color:#6087FF;
	border:2px solid #6087FF;
	bottom :35%;
	right:5% ;
}
.btn a{
	color:white;
	text-decoration:none;
	}

.btn:hover{
	background-color:#14458b;
	border: 2px solid #14458b;
	color:white;

}

@media(max-width:768px)
{.left .right{

		width:100% !important;
	 }
	 .left{
		  background-size: contain;
			height:100vh;
		}
	.right{
		background-size:100%;
	}
	.text{
		text-align:justify;

	}

		h4{
			font-size:10px !important;
		}
		/*h3{
			font-size:18px !important;
		}*/
		.btn{
			height:auto;
			padding:5px;
			width:auto;
		}
		.btn a{
			font-size:8px !important;
		}

}
@media(max-width:992px){

		/* .left{
		background-position:left;
	} */
	.text{

	}
		h4{
			font-size:14px !important;
		}
}
@media(max-width:480px){
		.btn{
			padding:3px;
			width:auto;
		}
		.left{

			height:80vh;
		}

}
