@import url('https://fonts.googleapis.com/css?family=Calligraffitti');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
@font-face { font-family: 'alex_brushregular'; src: url('fonts/alexbrush-regular-webfont.woff2') format('woff2'), url('fonts/alexbrush-regular-webfont.woff') format('woff'); url('fonts/AlexBrush-Regular.ttf') format('truetype'); font-weight:normal; font-style: normal; }

.wrapper{
	background-image: url("images/anish2.jpg") !important;
	background-size:cover;
	height:100vh;

}

.right{
	margin-top: 10%;
	margin-left: 10%;
	background-color: rgba(17,18,22,0.5);
	height:75vh;
}
.left{
	/* position: relative; */
	/* border: 1px solid; */
}
.mobile{
	display: none;
}
.textbox{
	/* color:#6087FF; */
	/* line-height: 30px; */
	margin-top:25%;
	/* left:2%;
	right:2%; */
}
.text{
	font-family: 'Archivo Narrow', sans-serif;
	text-align:justify;
	font-size: 20px;
	color: white;

}

/* .right img{
	margin-top:14%;
	float: right;
	border: 8px solid;
} */

.signature{
	font-size: 35px;
	height: auto;
	display: flex;
	color:white;
	font-family:alex_brushregular;
	width: auto;

}
 .signature p
 {

 }
.col-md-1{
	margin: 5%;


}
.btn {
	color:white;
	padding:10px;
	height:auto;
	width:200px;
	background-color:transparent;
	border:2px solid #6087FF;
	border-radius: 50px;
}
.btn a{
	color:white;
	text-decoration:none;
	}

.btn:hover{
	background-color:#6087FF;
	border: 2px solid #14458b;
	color:white;

}

@media(max-width:768px){
	.text{
		font-size:12px;

	}
	.signature{
		font-size: 26px;
	}

}


@media(max-width:992px){

		/* .left{
		background-position:left;
	} */
	.text{
		font-size: 14px;

	}

}
@media(max-width:480px){

		.text{
			font-size: 14px;
		}
		.right{

			margin-top: 45%;
			height: auto;
			/* margin-top: 40%; */
		}
		#text{
		}
}
